.icon-cart{
    width: 40px;
    stroke: black;
    margin: 10px;
}

.icon-cart:hover{
    cursor: pointer;
}

.container-icon a{
    color: black;
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 10px;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

#contador-productos{
    font-size: 12px;
}

.container-cart-product{
    position: absolute;
    top: 81px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content:space-between;
    flex: 0.8;
}

.titulo-producto{
    font-size: 20px;
}

.precio-producto{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 700;
}

.hidden-cart{
    display: none;
}

