.fighter{
    display: flex;
    padding: 0 10px;
    max-width: 100%;
}

.fighter img{
    width: 20%;
    
}

.text-fighter{
    width: 80%;
    padding: 30px;
}

.racha{
    font-size: 20px;
    font-weight: 700;
}